<ul class="nav navbar-nav">
    <% if (session.authenticated) { %>
        <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %> </a> </li>
        <li><a href="/user">User Administration</a></li>
        <li><a href="#">Placeholder2</a></li>
    <% } %>
</ul>
<% if (session.authenticated) { %>
    <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">sign-out</a>
<% } %>
<h1> This is our home page </h1>
<a href="/user/new"> Sign up</a>
